# macOS
.DS_Store

# JetBrains
.idea/

# Visual Studio Code
.vscode/

# Database
/database/
backend/pom copy.xml
backend/src/main/resources/credentials.properties
backend/src/main/java/com.cinema.backend/controllers/EmailController.java
